{% load static %}
{% load tailwind_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Lapin Blanc</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <style>
    {% block extra_css %}
    {% endblock %}
  </style>

  {% block extra_head %}
  {% endblock %}

  {% tailwind_css %}
</head>
<body>
{% load white_rabbit_tags %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="bg-red-200 p-2 {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<main class="flex w-full">
  {% include "components/sidebar.html" %}
  <div class="w-10/12" style="overflow-y: auto; max-height: 100vh">
    <div class="p-8 pt-0">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</main>
<script src="{% static 'collapse.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
