{% load static %}
{% load tailwind_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Lapin Blanc</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="{% static 'daisyui.full.min.css' %}" rel="stylesheet" type="text/css"/>

  <style>
    {% block extra_css %}
    {% endblock %}
  </style>
  <script src="{% static 'preline.min.js' %}"></script>

  {% tailwind_css %}
</head>
<body>
{% load white_rabbit_tags %}
<main class="flex w-full">
  {% include "components/sidebar.html" %}
  <div class="w-10/12" style="overflow-y: auto; max-height: 100vh">
    <div class="p-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</main>
</body>
</html>
