{% extends "base.html" %}

{% block content %}
    <div class="container" id="app">
        <h1 class="title is-1">Lapin Blanc</h1>

        <h2 class="title is-2">Semaine précédente</h2>

        <table class="table">
            <tr>
                <th>Jour</th>
                <th>État</th>
            </tr>
            {% for day, day_data in past_week_state.items %}
                <tr>
                    <td>{{ day | date }}</td>
                    <td>
                        <ul>
                            {% for employee, data in day_data.items %}
                                <li>
                                    {% if data.state == 'complete' %}<span style="color: green">✔</span>{% endif %}
                                    {% if data.state == 'incomplete' %}<span style="color: orange">❌</span>{% endif %}
                                    {% if data.state == 'empty' %}<span style="color: red">❌</span>{% endif %}
                                    <span style="font-weight: bold">{{ employee.name }}</span>
                                    {% for event in data.events %}
                                        {{ event.name }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>

                    </td>
                </tr>
            {% endfor %}

        </table>

        <h2 class="title is-2">Semaine en cours</h2>

        <table class="table">
            <tr>
                <th>Jour</th>
                <th>État</th>
            </tr>
            {% for day, day_data in curent_week_state.items %}
                <tr>
                    <td>{{ day | date }}</td>
                    <td>
                        <ul>
                            {% for employee, data in day_data.items %}
                                <li>
                                    {% if data.state == 'complete' %}<span style="color: green">✔</span>{% endif %}
                                    {% if data.state == 'incomplete' %}<span style="color: orange">❌</span>{% endif %}
                                    {% if data.state == 'empty' %}<span style="color: red">❌</span>{% endif %}
                                    <span style="font-weight: bold">{{ employee.name }}</span>
                                    {% for event in data.events %}
                                        {{ event.name }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>

                    </td>
                </tr>
            {% endfor %}

        </table>

        <h2 class="title is-2">Dispo prochaines</h2>
        <h3 class="title is-3">Semaine prochaine</h3>
        <table class="table">
            <tr>
                <th>nom</th>
                <th>dispo</th>
            </tr>

            {% for employee, availability in next_week_availability.items %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ availability | floatformat }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3 class="title is-3">Mois en cours</h3>
        <table class="table">
            <tr>
                <th>nom</th>
                <th>dispo</th>
            </tr>

            {% for employee, availability in current_month_availability.items %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ availability | floatformat }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3 class="title is-3">Mois prochain</h3>
        <table class="table">
            <tr>
                <th>nom</th>
                <th>dispo</th>
            </tr>

            {% for employee, availability in next_month_availability.items %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ availability | floatformat }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2 class="title is-2">
            <template v-if="isShowProjectsTotal">
                Temps total par projet
            </template>
            <template v-if="!isShowProjectsTotal">
                Temps par projet pour le mois en cours
            </template>
        </h2>
        <b-switch v-model="isShowProjectsTotal">Afficher le total</b-switch>
        <b-table :data="isShowProjectsTotal ? time_per_project_total : time_per_project_current_month" detailed style="max-width: 400px">
            <b-table-column label="Projet" v-slot="props">
                [[ props.row[0] ]]
            </b-table-column>
            <b-table-column label="Jours-homme" v-slot="props">
                [[ props.row[1].duration.toFixed(1) ]]
            </b-table-column>

            <template #detail="props">
                <ul>
                    <li v-for="(event, event_ix) in props.row[1].events" :key="event_ix">[[ event.employee ]] le [[ event.date ]]</li>
                </ul>
            </template>
        </b-table>

        <h2 class="title is-2">Semaines prochaines</h2>
        <table class="table has-text-centered">
            <tr>
                <th>Salarié</th>
                <th>Missions</th>
                <th v-for="week in upcoming_weeks.weeks" class="has-text-centered">
                    <h4 class="subtitle is-4">[[ week.number ]]</h4>
                    <p class="is-size-7">[[ week.start ]] - [[ week.end ]]</p>
                </th>
            </tr>
            <template v-for="employee in upcoming_weeks.employees">
                <tr>
                    <th>[[ employee ]]</th>
                    <th>dispos</th>
                    <td v-for="week in upcoming_weeks.weeks">
                        [[ upcoming_weeks[employee][week.number].availability ]]
                    </td>
                </tr>
                <tr v-for="project in upcoming_weeks[employee].projects_total">
                    <td></td>
                    <td>
                        [[ project ]]
                    </td>
                    <td v-for="week in upcoming_weeks.weeks">
                        [[ (upcoming_weeks[employee][week.number].projects[project] || {}).duration | round 1 ]]
                    </td>
                </tr>
            </template>

        </table>
    </div>
    <script src="/static/vue.js"></script>
    <script src="/static/buefy.min.js"></script>
    <script type="application/javascript">
         /**
         * Vue filter to round the decimal to the given place.
         * http://jsfiddle.net/bryan_k/3ova17y9/*/
        Vue.filter('round', function(value, decimals) {
          if(!value) {
            value = 0;
          }

          if(!decimals) {
            decimals = 0;
          }

          value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
          return value;
        });

        var app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: {
                isShowProjectsTotal: true,
                time_per_project_current_month: JSON.parse('{{ time_per_project_current_month_str | escapejs }}'),
                time_per_project_total: JSON.parse('{{ time_per_project_total_str | escapejs }}'),
                upcoming_weeks: JSON.parse('{{ upcoming_weeks_str | escapejs }}'),
            },
            mounted() {
                console.log("### mounted", this.time_per_project_current_month, this.upcoming_weeks);
            },
        });


    </script>
{% endblock %}
