*.sqlite3
*.pyc
__pycache__
.idea
*.sqlite3-journal
.DS_Store
.ipynb_checkpoints
html2text==2020.1.16
.vscode/
*debug_toolbar
/static/hijack*
/static/silk*
/static/admin*cache_file
Pipfile*
cache_file
