django==5.0.12
django-anymail==11.0.1
django-debug-toolbar==3.2.1
django-hijack==3.5.1
django-silk==5.1.0
getconf==1.10.0
gunicorn==23.0.0
icalendar==6.1.1
html2text==2020.1.16
ipython==8.25.0
jours-feries-france==0.7.0
python-dateutil==2.8.1
rollbar==0.15.2
django-tailwind==3.8.0
factory-boy==3.3.0
unidecode==1.3.8
recurring-ical-events==3.5.2
telescoop_backup==0.5.3
