@import url("calendar.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    @apply text-3xl font-semibold;
}


.fixed-first-row {
    position: sticky;
    top: 0;
    background: white;
}

.aliases-container {
    column-count: 4;
    column-gap: 2rem;
}

.aliases-container ul {
    list-style: inherit;
    margin-left: 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0)
}


.pastille {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.z-150 {
    z-index: 150;
}

.pastille-sm {
    width: 1.5rem;
    height: 1.5rem;
}

.pastille-md {
    width: 2rem;
    height: 2rem;
}

.pastille-lg {
    width: 3rem;
    height: 3rem;
}

.pastille-xl {
    width: 4rem;
    height: 4rem;
}

.pastille-2xl {
    width: 5rem;
    height: 5rem;
}
