{% extends "base.html" %}

{% block content %}
<div class="flex flex-col gap-4">
    <h2 class="text-2xl font-bold">Liste des alias</h2>
    <p class="">
        Les alias sont déclarés dans la partie <a href="/configuration" target="_blank">administration</a> de Lapin Blanc.
        Ils permettent de regrouper sous un seul nom les différents noms d'événement utilisés dans les calendriers des salariés.
    </p>
    <div class="aliases-container">
        {% for project, aliases in aliasesByProject.items %}
            <p><span class="font-bold">{{project}}</span> :
                {% if aliases|length %}
                <ul>
                    {% for alias in aliases %}
                        <li>{{alias}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                / <span class="sr-only">(Aucun alias)</span>
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}
