{% extends "base.html" %}
{% load white_rabbit_tags %}
{% load cache %}
{% load static %}

{% block content %}
  <div class="mt-4">
    {% if is_full %}
      <a href="{% url 'estimated-days-reporting' %}" class="p-4 rounded lowercase bg-blue-100">
        Afficher uniquement les projets en cours
      </a>
    {% else %}
      <a href="{% url 'estimated-days-reporting-full' %}" class="p-4 rounded lowercase bg-blue-100">
        Afficher l'ensemble des projets
      </a>
    {% endif %}

    <table class="border mt-6">
      <thead class="bg-gray-50">
      <tr class="font-bold bg-indigo-50 text-black uppercase text-xs">
        <th class="p-4 sticky z-50 top-0 left-0 bg-indigo-50 w-[180px]">Nom du projet</th>
        <th class="p-4 sticky z-50 top-0 left-[120px] bg-indigo-50">Temps passé</th>
        <th class="p-4 sticky z-50 top-0 left-[120px] bg-indigo-50">Temps vendu</th>
        <th class="p-4 sticky z-50 top-0 left-[120px] bg-indigo-50">Temps restant</th>
      </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
      {% for project_name, project_data in projects_data.items %}
        <tr class="odd:bg-white even:bg-slate-50">
          <td class="p-4">
            {{ project_data.name }} <span class="text-sm">({{ project_data.start_date }} -> {{ project_data.end_date }})</span>
            {% if user_is_staff %}
              <a href="{% url 'admin:white_rabbit_project_change' project_data.id %}" class="text-xs" target="_blank">🖍</a>
            {% endif %} 
          </td>
          <td class="p-4">{{ project_data.done|floatformat:1 }}</td>
          <td class="p-4">{{ project_data.estimated_days_count|floatformat:1 }}</td>
          <td class="p-4">{{ project_data.remaining|floatformat:1 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}