{% extends "base.html" %}
{% load white_rabbit_tags %}
{% load cache %}
{% load static %}

{% block content %}
  <div>
    <table
        class="border border-gray-200 border-separate rounded-lg divide-y divide-gray-200">
      <thead class="bg-gray-50">
      <tr class="sticky-first-row font-bold bg-indigo-50 text-black uppercase text-xs">
        <th class="p-4 sticky z-50 left-0 bg-indigo-50 w-[150px]">Nom du projet</th>
        <th class="p-4 sticky z-50 left-[120px] bg-indigo-50">Temps passé</th>
        <th class="p-4 sticky z-50 left-[120px] bg-indigo-50">Temps estimé</th>
        <th class="p-4 sticky z-50 left-[120px] bg-indigo-50">Temps restant</th>
      </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
      {% for project_name, project_data in projects_data.items %}
        <tr>
          <td class="p-4">{{ project_name }}</td>
          <td class="p-4">{{ project_data.done|floatformat:1 }}</td>
          <td class="p-4">{{ project_data.estimated_days_count|floatformat:1 }}</td>
          <td class="p-4">{{ project_data.remaining|floatformat:1 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}