{% extends "base.html" %}
{% load white_rabbit_tags %}

{% block content %}
    <div class="container" id="app">
        <div class="previous-week">
            <h2 class="text-lg">Semaine dernière</h2>
            {% include "components/state-of-days-in-week.html" with items=past_week_events %}
        </div>
        <div class="previous-week mt-10">
            <h2 class="text-lg">Cette semaine</h2>
            {% include "components/state-of-days-in-week.html" with items=current_week_event %}
        </div>
    </div>
{% endblock %}
{% block extra_css %}
{% endblock %}
