{% extends "base.html" %}
{% load white_rabbit_tags %}
{% load cache %}
{% load static %}

{% block content %}
    <h1 class="text-xl font-bold mb-4 text-left">{{ title }}</h1>
    <div class="overflow-x-scroll w-[80vw]">
        {% with employee_monthly_details|json_loads as employee_data %}
            {{ employee_data.total.completed }}
            {% for key, value in employee_data.Total.items %}
                {{ key }}
            {% endfor %}


        {% endwith %}

    </div>
{% endblock %}
