{% extends "base.html" %}
{% load white_rabbit_tags %}
{% load cache %}
{% load static %}

{% block content %}
  <div class="mb-2">
    {% if show_details %}
      <a href="{% url url_key current_period_key %}" class="p-1 text-2xs rounded lowercase bg-blue-100">
        Masquer les détails
      </a>
    {% else %}
      <a href="{% url url_key current_period_key %}?details=1" class="p-1 text-2xs rounded lowercase bg-blue-100">
        Afficher les détails
      </a>
    {% endif %}
      <a href="{% url url_key current_period_key %}?format=csv" class="p-1 text-2xs rounded lowercase bg-blue-100 ml-4">
        Export csv
      </a>
  </div>
  <div class="border-b border-gray-200">
    {% for period_list in periods.values %}
      <nav aria-label="Tabs" role="tablist">
        {% for period in period_list %}
          <a type="button"
             href="{% url url_key period.key %}"
             class="tab {% if current_period_key == period.key %}text-base font-bold{% endif %}"
             role="tab">
            {% if period.label %}
              {{ period.label|title }}
            {% else %}
              {{ period.key|format_date }}
            {% endif %}
          </a>
        {% endfor %}
      </nav>
    {% endfor %}
  </div>
  <div class="mt-3">
    <table
        class="border border-gray-200 divide-y divide-gray-200">
      <thead class="bg-gray-50">
      <tr class="font-bold text-black uppercase text-xs">
        <th class="p-2 min-w-48 sticky z-150 left-0 top-0 bg-indigo-50 w-[150px]">Nom du projet
        </th>
        <th class="p-2 sticky z-150 top-0 left-[120px] bg-indigo-50">Total</th>
        {% for employee_name in employees_names %}
          <th class="p-2 bg-indigo-50 sticky top-0 z-150 text-gray-800">
            {{ employee_name }}
          </th>
        {% endfor %}
      </tr>
      </thead>

      <tbody class="divide-y {% if not show_details %}divide-gray-200{% endif %}">
      {% for identifier in identifier_order %}
        <tr class="odd:bg-white even:bg-slate-50 {% if show_details %}border-t border-gray-400 border-solid{% endif %}">
          <th scope="row"
              class="font-bold {% if group_by == 'category' %}{{ identifier|find_category_color:company }}{% else %}bg-gray-100{% endif %} left-0 sticky z-50 text-sm h-8">
            {% if group_by == "project" %}
              {{ identifier|find_project_name:details_data }}
              {% include "components/category.html" with category=identifier|find_project_category:details_data %}
              {% if user_is_staff %}
                <a href="{% url 'admin:white_rabbit_project_change' identifier %}"
                   class="text-xs" target="_blank">⚙️</a>
              {% endif %}
            {% else %}
              {{ identifier }}
            {% endif %}
          </th>
          <td class="sticky left-[120px] min-w-[150px] z-50 text-center">
            {{ total_per_identifier|get_item:identifier|floatformat:1 }}
          </td>
          {% for employee_name in employees_names %}
            <td>
              {% with employees_events|get_item:employee_name|get_item:identifier as data %}
                <div tabindex="0" class="collapse text-center">
                  <div class="collapse-title p-0 min-h-0">
                    {% if data.duration %}
                      {{ data.duration|floatformat:1 }}
                    {% endif %}
                  </div>
                  {% if data.events %}
                    <div
                        class="collapse-content text-xs bg-gray-100 min-w-[150px] rounded-xl">
                      <ul>
                        {% for event in data.events %}
                          <li>
                            <span>{{ event.duration|floatformat:1 }}j</span> le
                            <span>{{ event.date|date:"d/m/Y" }}</span>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                </div>
              {% endwith %}
            </td>
          {% endfor %}
        </tr>
        {% if show_details %}
          {% for data in subtotal_per_identifier|get_item:identifier %}
            <tr class="odd:bg-white even:bg-slate-50">
              <td class="font-bold bg-gray-50 text-xs h-8 text-right">
                {% if group_by == 'projects'  %}
                  {{ data }}
                {% else %}
                  {{ data|find_project_name:project_details_data }}
                {% endif %}
              </td>
              <td class="text-center">{{ subtotal_per_identifier|get_item:identifier|get_item:data|floatformat:1 }}</td>
              {% for employee_name in employees_names %}
                <td class="text-center">
                  {% subproject_total employees_events employee_name identifier data %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}

        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}