{% extends "base.html" %}
{% load white_rabbit_tags %}

{% block content %}
    <div class="container" id="app">
        <div class="flex flex-col rounded-xl border border-gray-200">
            <div class="bg-gray-100 p-4 rounded-t-xl">
                <h2 class="text-lg font-bold">
                    Cette semaine
                </h2>
            </div>

            {% with events as userEvents %}
                {% for employee_name, events in userEvents.items %}
                    {% for week, event in events.items %}

                        {% for project_id, project in event.projects.items %}
                            {{ project }}
                            <div class="p-4 flex justify-between">
                                <h3 class="font-semibold">{{ project_id|find_project_name:projects_details }}</h3>
                                <div class="flex">
                                    {% for project_detail in project.events %}
                                        <div class="badge p-4 bg-red-200">{{ project_detail.days_spent }} jour(s)</div>
                                        <div>
                                            {{ project_detail.start_datetime|format_datetime_to_hour }}
                                        </div>
                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                            </svg>
                                            {{ project_detail.start_datetime }}
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endfor %}

                    {% endfor %}
                {% endfor %}
            {% endwith %}


        </div>


    </div>
{% endblock %}
{% block extra_css %}
{% endblock %}
